.assclass {
  color: darkblue;
  background-color: rgb(168, 175, 202);
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  font-family: "Mali", cursive;
}
.assclass:hover {
  color: rgb(27, 27, 210);
}

.assstudent {
  color: rgb(106, 44, 13);
  background-color: rgb(197, 135, 104);
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  font-family: "Mali", cursive;
}
.assstudent:hover {
  color: rgb(120, 42, 0);
}

/* AssesStudentScore */
/* StudentAssessment.css */
.table-header {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowed text */
  /* text-overflow: ellipsis; Show ellipsis (...) for overflowed text */
  max-width: 150px; /* Adjust the maximum width as needed */
}

.th {
  font-size: 15px;
}

.td {
  font-size: 15px;
}

/* input */
.score-input{
  width: 50px;
}
/* Hide the up and down arrows for input type number */
.score-input input[type="number"]::-webkit-inner-spin-button,
.score-input input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

 /* Firefox */
/* .score-input input[type="number"] {
  -moz-appearance: textfield;
} */
