/* Reset default margin and padding */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* Body styles */
.body {
  font-family: "Mali", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  /* background-color: #f6f6f6; */
}

/* font size */
.hh-f {
  margin-bottom: 20px;
}

.header-f {
  font-size: 18px;
  margin-bottom: 6px;
}

.summary-f {
  margin-top: 20px;
}

.sum-f {
  font-weight: bold;
}

/* Container styles */
.test-container {
  background-color: rgb(244, 251, 255);
  padding: 20px;
  border-radius: 50px;
  /* border: 5px solid rgb(121, 121, 121); */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 900px;
  max-width: 90%; /* Set maximum width */
}

/* Question styles */
.question {
  margin-bottom: 20px;
  padding: 10px 60px 20px 60px;
  /* border-radius: 50px; */
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); */
}

.question h2 {
  font-size: 24px;
  color: #3e3e3e;
  /* font-weight: bold; */
  margin-bottom: 30px;
  font-family: "Mali", cursive;
  text-align: left;
}

.question p {
  margin-top: 20px;
  font-size: 15px;
  color: #666;
}

/* Navigation styles */
.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  font-family: "Mali", cursive;
  background-color: #ff6b6b;
  color: white;
  border: none;
  padding: 10px 20px;
  /* border-radius: 5px; */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttn {
  border-radius: 5px;
}

.button:hover {
  background-color: #ff4f4f;
}

/* Timer styles */
.timer {
  font-size: 18px;
  color: #666;
  margin-top: 20px;
}

/* Answer Summary styles */
.answer-summary {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px 0;
  border-radius: 15px;
  border: 3px solid transparent; /* Initial transparent border */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.182);
}

.correct {
  border-color: #4caf50; /* Green border for correct answer */
}

.incorrect {
  border-color: #ff5722; /* Red border for incorrect answer */
}

.score {
  font-weight: bold;
}

/* Radio button styles */
.radio-container {
  margin: 10px 0;
  font-size: 16px;
  display: flex;
  align-items: center;
}

input[type="radio"] {
  display: none;
}

.radio-label {
  position: relative;
  margin-left: 10px;
  padding-left: 30px;
  cursor: pointer;
  color: #333;
  font-size: 19px;
}

.radio-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #aaa;
  border-radius: 50%;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

input[type="radio"]:checked + .radio-label::before {
  background-color: #ff6955;
  border-color: #913030;
}

.radio-label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  display: none;
}

input[type="radio"]:checked + .radio-label::before::after {
  display: block;
}

/* GIF image alignment */
.gif-align-right {
  float: right;
  margin-left: 10px; /* Adjust the margin as needed for spacing */
  z-index: -1;
}

/* Modal */
.m-test-container {
  background-color: rgb(244, 251, 255);
  padding: 20px;
  border-radius: 50px;
  /* border: 5px solid rgb(121, 121, 121); */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 900px;
  max-width: 90%; /* Set maximum width */
}

/* Question styles */
.m-question {
  margin-bottom: 20px;
  padding: 10px 60px 20px 60px;
  /* border-radius: 50px; */
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); */
}

.modal-test .modal-dialog {
  max-width: 90%; /* Adjust the percentage as needed */
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-ques {
  text-align: left;
}

.h2-testd {
  font-size: 20px;
  text-align: left;
}

.h2-testdiv {
  margin-top: 28px;
}

.h4-sum {
  text-align: left;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.h4-sumsize {
  font-size: 16px;
  font-weight: bold;
}

/* start test */
.startte-question {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 10px 60px 20px 60px;
  border-radius: 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.startte-h2 {
  margin-top: 10px;
  font-size: 28px;
  text-shadow: 0 0 2px #333;
  /* text-shadow: 1px 0px #1e05ff; */
}

.startsum-question {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 10px 60px 20px 60px;
  border-radius: 50px;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); */
}

.sum-top {
  margin-bottom: 30px;
}